
# Python virtual environments
venv/
backend/venv/

# Node dependencies
frontend/node_modules/

# Build output
frontend/dist/

# Python cache
__pycache__/
*.pyc

scripts/backend/venv/
data/raw/buildings/pune_buildings_microsoft.csv
